js/
/etc/
downloader/
cron.php
errors/
lib/
mage/
media/
shell/
skin/
var/
.htaccess
.htaccess.sample
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
app/.htaccess
app/Mage.php
app/code/community
app/code/core/
app/code/local/Mage/
app/design
app/locale/
cron.sh
favicon.ico
get.php
includes/
index.php
index.php.sample
php.ini.sample
install.php
RELEASE_NOTES.txt
mage
pkginfo/

