<?xml version="1.0"?>
<config>
    <modules>
        <Mediastyle_IEX>
            <version>0.1.0</version>
        </Mediastyle_IEX>
    </modules>
    <frontend>
        <routers>
            <iex>
                <use>standard</use>
                <args>
                    <module>Mediastyle_IEX</module>
                    <frontName>iex</frontName>
                </args>
            </iex>
        </routers>
        <layout>
            <updates>
                <iex>
                    <file>iex.xml</file>
                </iex>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<iex>
				<use>admin</use>
				<args>
					<module>Mediastyle_IEX</module>
					<frontName>iex</frontName>
				</args>
			</iex>
        </routers>
    </admin>
    <global>
        <models>
            <iex>
                <class>Mediastyle_IEX_Model</class>
                <resourceModel>iex_mysql4</resourceModel>
            </iex>
            <iex_mysql4>
                <class>Mediastyle_IEX_Model_Mysql4</class>
                <entities>
                    <iex>
                        <table>iex</table>
                    </iex>
                </entities>
            </iex_mysql4>
        </models>
        <events>
          <catalog_product_save_before>
            <observers>
              <save_before>
              <type>singleton</type>
              <class>Mediastyle_IEX_Model_Observer</class>
              <method>productTransfer</method>
              </save_before>
            </observers>
          </catalog_product_save_before>
          <catalog_product_delete_after>
            <observers>
              <event>
              <type>singleton</type>
              <class>Mediastyle_IEX_Model_Observer</class>
              <method>productDelete</method>
              </event>
            </observers>
          </catalog_product_delete_after>
          <customer_save_after>
            <observers>
              <event>
              <type>singleton</type>
              <class>Mediastyle_IEX_Model_Observer</class>
              <method>customerTransfer</method>
              </event>
            </observers>
          </customer_save_after>
          <customer_delete_after>
            <observers>
              <event>
              <type>singleton</type>
              <class>Mediastyle_IEX_Model_Observer</class>
              <method>customerDelete</method>
              </event>
            </observers>
          </customer_delete_after>
          <sales_order_save_after>
            <observers>
              <event>
              <type>singleton</type>
              <class>Mediastyle_IEX_Model_Observer</class>
              <method>orderTransfer</method>
              </event>
            </observers>
          </sales_order_save_after>
          <sales_order_delete_after>
            <observers>
              <event>
              <type>singleton</type>
              <class>Mediastyle_IEX_Model_Observer</class>
              <method>orderDelete</method>
              </event>
            </observers>
          </sales_order_delete_after>
        </events>
        <resources>
            <iex_setup>
                <setup>
                    <module>Mediastyle_IEX</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iex_setup>
            <iex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iex_write>
            <iex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iex_read>
        </resources>
        <blocks>
            <iex>
                <class>Mediastyle_IEX_Block</class>
            </iex>
        </blocks>
        <helpers>
            <iex>
                <class>Mediastyle_IEX_Helper</class>
            </iex>
        </helpers>
    </global>
</config>
