<?xml version="1.0"?>
<config>
    <modules>
        <Mediastyle_IEX>
            <version>0.1.0</version>
        </Mediastyle_IEX>
    </modules>
    <frontend>
        <routers>
            <iex>
                <use>standard</use>
                <args>
                    <module>Mediastyle_IEX</module>
                    <frontName>iex</frontName>
                </args>
            </iex>
        </routers>
        <layout>
            <updates>
                <iex>
                    <file>iex.xml</file>
                </iex>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<iex>
				<use>admin</use>
				<args>
					<module>Mediastyle_IEX</module>
					<frontName>iex</frontName>
				</args>
			</iex>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<iex module="iex">
				<title>IEX</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="iex">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>iex/adminhtml_iex</action>
					</items>
				</children>
			</iex>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mediastyle_IEX>
							<title>IEX Module</title>
							<sort_order>10</sort_order>
						</Mediastyle_IEX>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<iex>
					<file>iex.xml</file>
				</iex>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <iex>
                <class>Mediastyle_IEX_Model</class>
                <resourceModel>iex_mysql4</resourceModel>
            </iex>
            <iex_mysql4>
                <class>Mediastyle_IEX_Model_Mysql4</class>
                <entities>
                    <iex>
                        <table>iex</table>
                    </iex>
                </entities>
            </iex_mysql4>
        </models>
        <resources>
            <iex_setup>
                <setup>
                    <module>Mediastyle_IEX</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iex_setup>
            <iex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iex_write>
            <iex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iex_read>
        </resources>
        <blocks>
            <iex>
                <class>Mediastyle_IEX_Block</class>
            </iex>
        </blocks>
        <helpers>
            <iex>
                <class>Mediastyle_IEX_Helper</class>
            </iex>
        </helpers>
    </global>
</config>