<config>
  <tabs>
    <iex_config translate="label" module="iex">
      <label>IEX Configuration</label>
      <sort_order>999</sort_order>
    </iex_config>
  </tabs>
  <sections>
    <iex_options translate="label" module="iex">
      <label>IEX Settings</label>
      <tab>advanced</tab>
      <frontend_type>text</frontend_type>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <settings translate="label">
          <label>Config field</label>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <customer_id>
              <label>Customer id</label>
              <frontend_type>text</frontend_type>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </customer_id>
            <api_link>
              <label>API Link</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </api_link>
            <api_secret>
              <label>API Secret</label>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </api_secret>
            <synchronise_product>
              <label>Perform product synchronisation</label>
              <comment>Send updates to IEX when a product is created or
              modified</comment>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </synchronise_product>
            <synchronise_customer>
              <label>Perform customer synchronisation</label>
              <comment>Send updates to IEX when a customer is created or
              modified</comment>
              <frontend_type>text</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </synchronise_customer>
            <synchronise_order>
              <label>Perform order synchronisation</label>
              <comment>Send updates to IEX when an order is created or
              modified</comment>
              <frontend_type>text</frontend_type>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </synchronise_order>
          </fields>
        </settings>
      </groups> 
    </iex_options>
  </sections>
</config>
